<svg class="progress-ring" width="36" height="36">
  <circle stroke="rgba(0,0,0,.12)" stroke-width="2" fill="transparent" [attr.r]="radius" cx="18" cy="18" />
  <circle [style.strokeDasharray]="circumference" [style.strokeDashoffset]="dashoffset" stroke="#6aa617"
    stroke-width="2" fill="transparent" [attr.r]="radius" cx="18" cy="18" />
</svg>

<div *ngIf="_progress < 100; else completed">{{ _progress }}%</div>
<ng-template #completed>
  <div class="completed">
    <mat-icon svgIcon="check"></mat-icon>
  </div>
</ng-template>
